# So I can have two users. ~/.gitconfig-* looks like:
# [user]
#        login = jsmith
#        email = john.smith@gmail.com
#        signingkey = A12EAD1BAA8578E1
[include]
        path = ~/.gitconfig-personal
[includeIf "gitdir:~/git/lab/"]
        path = ~/.gitconfig-work

[commit]
        gpgSign = true
[core]
        editor = vim
        filemode = false

        # By default, git will print non-ASCII file names in quoted octal
        # notation, i.e.  "\nnn\nnn...". This disables this behaviour.
        quotepath = off

        # If delta (github.com/dandavison/delta) is installed use it for pager.
        # Otherwise use less.
        pager = "p=$(which delta); ${p:-less}"
[delta]
        navigate = true # use n and N to move between diff sections
        light = true    # set to true if you're in a terminal w/ a light background color
[merge]
        tool = vimdiff
[push]
        default = matching
[pull]
        rebase = false
[init]
        defaultBranch = main
[alias]
        s  = status
        l = log --pretty --abbrev-commit --name-status --graph
