$include /etc/inputrc

# Use Vi, not Emacs, style editing.
set editing-mode vi

# Set smaller delay after (Esc) key press. Default is 500 (milliseconds).
set keyseq-timeout 50

# See https://vim.fandom.com/wiki/Use_vi_shortcuts_in_terminal for more.