$include /etc/inputrc

# Use Vi, not Emacs, style editing.
set editing-mode vi

# Set smaller delay after (Esc) key press. Default is 500 (milliseconds).
set keyseq-timeout 50

# Show whether you are in insert or command mode.
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

# So Ctrl+l clears screen both in insert and command mode.
Control-l: clear-screen
